@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.containerForm {
display: flex;
align-items: center;
 justify-content: center;
flex-direction: column;
background-color: rgba(54, 30, 93, 0.9);
height: 100vh;
}

.containerForm h1 {
color: #fff;
font-weight: 500;
}
.containerForm img {
  margin-top: 16px;
  width: 380px;
}

form {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
margin: 30px auto;
gap: 18px;
width: 100%;
}

.input {
max-width: 100%;
width: 50%;
height: 46px;
font-size: 1.2rem;
padding: 5px ;
text-align: center;
border-radius: 5px;
box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
border: none;
margin: 0 auto;
}

#btnSubmit {
color: #fff;
font-weight: 500;
background-color:  #f76a2ed8;
cursor: pointer;
}

#btnSubmit:hover {
background-color: #fff;
color: rgba(54, 30, 93, 0.9);
font-weight: 600;
}

span {
color: #fff;
font-weight: 100;
/*margin: 10px;*/
}

a {
color: #fff;
text-decoration: none;
cursor: pointer;
}
a:hover {
color: #fff;
text-decoration:underline 2px  #f76a2ed8;
cursor: pointer;
}