@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.containerForm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(54, 30, 93, 0.9);
  height: 100vh;
}

.containerForm h1 {
  color: #fff;
  font-weight: 500;
}

.containerForm img {
  margin-top: 8px;
  width: 380px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5px auto;
  gap: 8px;
  width: 100%;
}

.input {
  max-width: 100%;
  width: 51%;
  height: 58px;
  font-size: 1.2rem;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
  border: none;
  margin: 0 auto;
}

form small {
  text-align: center;
  color: #fff;
  font-size: 0.8em;
  font-weight: none;
}

#btnSubmit {
  color: #fff;
  font-weight: 500;
  background-color: #f76a2ed8;
  cursor: pointer;
}

#btnSubmit:hover {
  background-color: #fff;
  color: rgba(54, 30, 93, 0.9);
  font-weight: 600;
}

.spansContainer {
  margin-top: 20px;
}

span {
  color: #fff;
  font-weight: 100;
}

a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #fff;
  text-decoration: underline 2px #f76a2ed8;
  cursor: pointer;
}

/* Responsive  */
@media (max-width: 770px) {
  form small {
  width: 88%;
  margin: 0 auto;
  }

  .containerForm img {
   margin: 0 auto;
   width: 260px;
   max-width:100%;
  }
}


