@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  
}
header {
  background: rgba(54, 30, 93, 0.9);
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
}

.mycart{
  width: 100%;  
  justify-content: space-between;
  height: auto;
  padding-left: 15px;
  margin-left: 15px;
  margin-top: 8px;
  margin-right: 10px;
  border-radius: 10px;
  color: rgba(54, 30, 93, 0.9);
}
  .hr-3d {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(54, 30, 93, 0.9), rgba(0, 0, 0, 0));
  }

  .carrinhoCab{
  display: flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom: 12px;  
  padding: 0px 2.6rem;
 }
 .carrinhoCab img{
  margin-top: 2px;
 }
a#fechar{
  font-size: 150%;
  color: rgba(54, 30, 93, 0.9);
}
.tprodutos-cab{
  display:flex;   
  justify-content: space-between;
  margin-bottom: 14px;
}
.tprodutos{
   display: grid;
    grid-template-columns: 2fr 12fr 1fr 3fr;
    /* grid-template-rows: 8vh 8vh 8vh 8vh; */
    grid-template-areas:"h h h " "m m m " "a a a " "p p p" ;
    /* background-color:rgba(235, 228, 247, 0.9);        */
    justify-items:left;    
    align-items: center;
    column-gap: 20px;
    margin-left: 10px;
    height: 490px; 


}
.tprodutos img{
  width: 80px;
  margin-right: 10px;  
 }
.tprodutos h2{ 
  font-size: 100%;
  text-align: left;
  
   
}
.vTotal h1{
  text-align: end;
  margin-bottom: 60px; 
  margin-left: 120px;
}
h3#cabresumo{
  font-size: 100%;
  margin-top: 20px;
}

.resumo{
  width: 30%;
  /* height: 800px; */
  padding-left: 15px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 10px;
  float:inline-end;
  /* background-color:rgba(235, 228, 247, 0.9);   */
  /* font-size: 20px; */
}
.resumo hr{
  border: 0;
    height: 2px;
  background-image: linear-gradient(to right, rgba(54, 30, 93, 0.9), rgba(182, 170, 202, 0.9), rgba(0, 0, 0, 0));
}
.carrinhoCab h2{  
  text-align: left;
  font-size: 100%;
}

h1#cabProd{  
  text-align:left;
  margin-top: 20px;
  font-size: 120%;
}
h1#cabPreco{
  font-size: 120%;
  margin-right: 10px;
  margin-top: 20px;
}
.maisprodutos{
  font-size: 50px;
  margin-top: 20px;
  display: flex;
  cursor: pointer;
  text-align: end;
  color: rgba(54, 30, 93, 0.9);
  width: 20px;
  transform: scale(1);
  transition: transform 0.3s;
}

.mycarrinho{
    width: 60px;
    height: 60px;
    grid-area: i;
   }
   .fa-trash {
    color: rgba(54, 30, 93, 0.9);
    cursor:pointer;
    margin-left: 12px;
    font-size: 40px;
    transform: scale(1);
    transition: transform 0.3s;
   }
   .fa-trash:hover {
    transform: scale(1.2);
   }
  .stepper-input{    
    width: 150px;       
    
  }
  .stepper-input input{
    font-size: 100%;
    padding: 0.5em;    
  }
   .stepper-input .btn {
    cursor: pointer;
    padding: 0.5em;
    color: #fff;
    background-color:  rgba(54, 30, 93, 0.9);
    border: 1px solid  rgba(54, 30, 93, 0.9);
    font-size: 110%;
  }
  .stepper-input .btnt {
    cursor: pointer;
    position: absolute;
    background-color: transparent;
    border: transparent;
    height: 50px;
  }
 
   .resumo label{
    font-size: 100%;
    margin-right: 2%;
    margin: 8px;
    margin-bottom: 15px;
   }

.totaliza{
  display: block;
  width: 600px;
  margin-top: 10px;
}
.pagar{
    text-align:center;
    display: none;

}
.pagar button img{
  margin-top: 2px;  

}
.pagar button{
    font-size: 100%;
    text-align:center;
    background-image:linear-gradient(to right, rgba(54, 30, 93, 0.9), rgba(182, 154, 228, 0.9));
    color: #fff;
    border-radius: 10px;
    width: 150px;
    cursor: pointer;
    padding: 15px;    
    transform: scale(1);
    transition: transform 0.3s;
    
}
.pagar button:hover {
    transform: scale(1.1);
  }

  .maisprodutos:hover{
  transform: scale(1.1);
}

.inf-CEP, .input-CEP {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  font-size: 120%;
  align-items:center;
  margin: 6px;

}

.input-CEP{
  width: 150px;
  text-align: left;
  font-size: 120%;
}
.btn-CEP {
  font-size: 28px;
  color: #fff;
  background-image:linear-gradient(to right, rgba(213, 200, 233, 0.9), rgba(164, 116, 235, 0.9));
  cursor: pointer;
  width: 60px;
  height: 40px;
  border-radius: 10px;
  transform: scale(1);
  transition: transform 0.3s ;  
}
.btn-CEP:hover{
  transform: scale(1.1);
}
.valores {
  display:none;
  flex-wrap: wrap;
  gap: 5px;
  padding-bottom: 20px;
  font-size: 150%;
}
.valores > div {
    flex: 1 1 200px;

}
.valores img{
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.03s;
}
.valores img:hover{
  transform: scale(1.2);
}
.valores input[type="radio"]{
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.cabValores {
  margin-top: 20px;
  margin-bottom: 20px;
  display: none;
}

.frete {
  display: none;
  padding-left: 10px;
  color:blueviolet;
  cursor: pointer;
  
}
.helper-text {
  display: none;
  font-size: 20px;
  color: darkred;
  margin-top: 10px;
}
@media (max-width: 768px){
  .tprodutos h2{
    width: 90px;
    margin-right: 10px;
  }
  .tprodutos{
    height: auto;
    grid-template-rows: 12vh 12vh 12vh 12vh;    
  }
  .vTotal h1{ 
    margin-left: -80px;
    margin-bottom: 80px; 
  }
}